@import 'src/assets/styles/common';

.container {
  border: 1px solid $secondary;
  border-radius: 6px;
}

.icon {
  display: block;
  padding: 12px;
  height: 24px;
  width: 24px;
  color: $tertiary;
}
