@import 'src/assets/styles/common';

.container {
  @include scrollbarMargin;
  position: fixed;
  width: calc(100% - (100vw - 100%));
  z-index: 1;
  background: white;
  border-bottom: 1px solid $primary;
}

.navigation {
  max-width: $maxWidth;
  padding: 9px 9px 6px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

.navLink {
  margin-right: 32px;
  &:last-child {
    margin-right: 9px;
    @include media-greater-than($medium) {
      margin-right: 0;
    }
  }
}

.storeLink {
  margin-right: auto;
  margin-left: 9px;
  @include media-greater-than($medium) {
    margin-left: 0;
  }
}

.store {
  @include pressedButton;
  height: 28px;
  color: $primary;
}
