@import 'src/assets/styles/common';

.container {
  height: 28px;
  position: relative;
}

.icon {
  @include pressedButton;
  height: 28px;
  color: $primary;
}

.badge {
  position: absolute;
  right: -9px;
  top: -5px;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  background-color: $tertiary;
  border-radius: 50%;
  height: 18px;
  width: 18px;
  color: white;
}
