@import 'src/assets/styles/common';

.container {
  display: flex;
  border: 1px solid $secondary;
  border-radius: 6px;
}

.quantity {
  width: 69px; // nice
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid $secondary;
  border-right: 1px solid $secondary;
}

.increaseIcon,
.decreaseIcon {
  display: block;
  padding: 12px;
  height: 24px;
  width: 24px;
  color: $tertiary;
}
