@import 'src/assets/styles/common';

.container {
  display: flex;
}

.quantity {
  width: 69px; // nice
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
}

.increaseIcon,
.decreaseIcon {
  @include actionButton;
  border-radius: 0;
  display: block;
  padding: 9px 12px;
  height: 24px;
  width: 24px;
}

.decreaseIcon {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.increaseIcon {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
