@mixin pressedButton {
  transition: transform 0.1s ease;
  &:active {
    transform: scale(0.9);
  }
}

@mixin linkButton {
  text-decoration: none;
}

@mixin actionButton {
  padding: 9px 18px;
  font-weight: 600;
  background-color: $secondary;
  color: white;
  border: 1px solid $secondary;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:active,
  &:focus {
    background-color: white;
    color: $secondary;
  }
}
